body {
 background-color:black;
}
h1 {
 color:#00ff00;
 font-size:100px;
 text-align:center;
}
p {
 text-align:center;
 color:white;
}
button {
 background-color:black;
 text-align:;
 font-size:30px;
}
b {
 color:red;;
}
div {
color:blue;
}
c {
 color:blue;
}
d {
 font-size:10px;
 color:red;
 bacgroun:red;
}
e {
}





